In [ ]:
pip --version

In [1]:

import mysql.connector as connector

In [2]:
from credentials import *

In [ ]:
connection = connector.connect(user =username, password =password, db="DB")

In [20]:
cursor = connection.cursor()

In [21]:
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)

In [22]:
results = cursor.fetchall()

In [23]:
for i in results:
    print(i)

('bookings',)
('customers',)
('menu',)
('menuitems',)
('orderdelivery',)
('orders',)
('staff',)

In [28]:
sql_query = """ SELECT CONCAT(Customers.FirstName," ",Customers.LastName) AS 'FullName', Customers.PhoneNumber, Orders.TotalCost FROM Customers INNER JOIN Orders ON Customers.CustomerID = Orders.CustomerID WHERE Orders.TotalCost > 60 ; """

In [29]:
cursor.execute(sql_query)

In [30]:
results = cursor.fetchall()

In [31]:
for i in results:
    print(i)

('Jane Smith', '9876543210', Decimal('70.00'))
('Alice Johnson', '5551234567', Decimal('200.00'))
('John Doe', '1234567890', Decimal('120.00'))